@font-face {
    font-family: 'myFonts';
    src: url(./fonts/CafeFrancoise-ywMWq.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: rgb(122, 81, 5);

    font-family: 'myFonts';
}

/* ------------------------------ */
/* ------- header section ------- */
/* ------------------------------ */

#header {
    display: flex;
    justify-content: space-around;
}

#home,
#menu,
#contact {
    font-size: 3rem;
    transition: all 0.2s ease-in;

    color: #fff;
}

#home:hover,
#menu:hover,
#contact:hover {
    font-size: 3.6rem;
    text-decoration: underline;
}



/* ------------------------------ */
/* ------- footer section ------- */
/* ------------------------------ */

#footer {
    display: flex;
    justify-content: center;

    gap: 4rem;
}

#footer img {
    height: 2rem;
    width: 2rem;
}