* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100vw;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #d5d6d7;
}

#header {
    height: 900px;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding-right: 50px;
}

#header>h1 {
    overflow-wrap: break-word;

    font-size: 3rem;

    padding: 3rem;

    margin-top: 180px;
}

#header>p {
    font-size: 1.5rem;
}

#main {
    display: flex;

    justify-content: center;
    align-items: center;

}

#gamegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 900px;
    height: 900px;
}

#gamegrid * {
    box-sizing: border-box;
    overflow: hidden; /* prevent whitespace around char to enlarge grid box*/

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 30rem;

    padding-bottom: 90px; /* vertically center x and o */

    /* temporary values */
    border: 3px solid green;

    color: green;
}